h1{
    text-align: center;
    background-color: #ddcbcd;
    
}
#A{
    background-color: rgb(0,170,255)
}
#B{
    background-color: rgb(0,140,220)
}
#C{
    background-color: rgba(0,140,220,0.6)
}
#D{
    background-color: rgb(153,204,255)

}
#E{
    background-color: rgb(204,229,255)
}
#F{
    background-color: rgb(229,242,255)

}
#G{
    background-color: rgb(240,248,255)

}
#H{
    background-color: rgb(0,180,0)
}
#I{
    background-color: rgb(255,182,193);
}
#J{
    background-color: rgb(255,153,164);
}
#K{
    background-color: rgb(255,102,128);
}
#L{
    background-color: rgb(255,51,119);
}
#M{
    background-color: rgb(255,20,147);
}
#N{
    background-color: rgb(255,0,128);
}
#O{
    background-color: rgb(255,0,102);
}


